#search_area{
	width:100%;
	height:130px;
	background-color:#EEEEFF;
}
#search_area div:nth-child(1){
	height:100%;
	width:85%;
	display:inherit;
	float:left;
}
#search_area div:nth-child(2){
	height:100%;
	width:15%;
	display:inherit;
	float:left;
	padding-top:20px;
}

#search_area table:nth-child(1){
	_background-color:red;
	margin-top:20px;
	_margin-left:20px;
}
.select_style{
	width:50%;
	height:35px;
	margin-bottom:20px;
	display:inherit;
}

.label_style{
	margin-bottom:20px;
	_margin-left:20px;
}


.dev_icon{
	height:70px;
	cursor:pointer;
}




