body {
	margin 0 0 0 0;
	padding 0 0 0 0 ;
}


#main {
	width:100%;
	height:100%;
	_background-color:blue;
}

#top_bar{
	width:100%;
	height:50px;
	background-color:_#3E5B76;
	background-color:#1A4FA3;
	padding-top:10px;
}

#left_item{
	width:12%;
	height:700px;
	float:left;
	background-color:#F5F5F5;
}

.setting_item{
	width:100%;
	height:45px;
	background-color:#F5F5F5;
	vertical-align:middle;
	_border-bottom-style:solid;
	_border-bottom-width:1px;
}
.setting_label{
	width:100%;
	height:100%;
	padding-top: 12px;
    padding-left: 20px;
	color:#0D8FDB;
}
.menu_selected{
	background-color:#428BCA;
	color:white;
}
.setting_label:hover{
	background-color:#428BCA;
	color:white;
	_border-radius:5px;
}

#right_content{
	width:88%;
	height:700px;
	background-color:white;
	display:inherit;
	float: left;
}