#add_devices{
	width:100%;
	height:300px;
	_background-color:#8eb9fc;
}

#add_devices div:nth-child(1){
	width:100%;
	height:100%;
	_background-color:#8eb9fc;
	padding-top:20px;
	
}
#add_devices table{
	width:80%;
	text-align:center;
	margin-left:auto; 
	margin-right:auto;
}

#add_devices td{
	border-bottom-color: red;
    _border: 1px;
    _border-style: solid;
    padding: 10px;
	text-align:left;
}

.input_style{
	width: 200px;
    height: 35px;
    _margin-bottom: 20px;
	display:inherit;
}